@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap');

.div-class {
  margin-bottom: 20px;
}

/*colors*/
:root {
  --peach: #ffb688;
  --tan: #d2a077;
  --espresso: #59443d;
  --lightbrown: #b59071;
  --pink: #f4baba;
}

body {
  background-color: var(--lightbrown);
  text-align: center;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*text styles*/
h1 {
  color: var(--espresso);
  font-family: "Pixelify Sans", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  margin: 0;
}

#countdown {
  font-family: "Pixelify Sans", sans-serif;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 400;
  color: #59443d;
  padding-bottom: 10px;
  display: inline-block;
  transition: transform 0.3s ease;
}

#countdown:hover {
  transform: translateY(-5px);
}

.page-header {
  text-align: center;
  border: 5px solid #59443d;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: beige;
}

.div-centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 80%;
  border: 5px solid var(--espresso);
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
  background-color: beige;
}

.progress-wrapper {
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  width: 100%;
  overflow: hidden;
}

.progress-container {
  position: relative;
  width: 80%;
  height: 40px;
  background: #f4baba;
  margin: auto;
  border: 3px solid var(--espresso);
  overflow: hidden;
  display: flex;
}

.progress-bar {
  height: 100%;
  width: 80%;
  background: #ff5733;
  transition: width 1s linear;
  overflow: hidden;
  box-shadow: 0 0 0 2px black, 2px 2px 0 2px black, -2px -2px 0 2px black;
}

.image-container {
  position: relative;
  width: 80%;
  margin: auto;
  height: 50px;
  margin-top: 10px;
}

.progress-img {
  position: absolute;
  transition: left 1s linear;
}

.progress-img:hover {
  transform: scale(1.2);
}

.raised-word {
  display: inline-block;
  transition: transform 0.3s ease;
}
.raised-word:hover {
  transform: translateY(-5px);
}

#endDate, #startButton, .input-style {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 1rem;
  padding: 5px;
  border: 2px solid var(--espresso);
  border-radius: 5px;
  background-color: beige;
  color: var(--espresso);
  margin-top: 1%;
}

#endDate:hover {
  cursor: pointer;
}

#startButton:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#img-left {
  position: absolute;
  right: 0;
  top: 10%;
  height: 30px;
}

#img-right {
  position: absolute;
  left: 0;
  top:10%;
  height: 30px;
}

#barry-progress-bar, #mari-progress-bar {
  width:50%;
  height: 100%;
  background-color: #f4baba;
  position: relative;
}

#barry-bar {
  width: 20%;
  height: 100%;
  background-color: #f4baba;
  position: relative;
  overflow: visible;
}

#mari-bar {
  width: 20%;
  height: 100%;
  right: 0;
  background-color: #f4baba;
  position: absolute;
  overflow: visible;
  direction: rtl;
}

.flatpickr-calendar {
  background-color: beige !important;
  color: var(--espresso);
  border: 3px solid var(--espresso);
  box-shadow: none;
  font-family: "Pixelify Sans", sans-serif;
}

.flatpickr-months .flatpickr-month {
  background-color: var(--espresso) !important;
  color: white !important;
}

.flatpickr-monthDropdown-months {
  background-color: var(--espresso) !important;
  color: white !important;
  font-family: "Pixelify Sans", sans-serif;
}

.flatpickr-day:hover {
  background-color: #f4baba !important;
  border-color: solid 1px var(--espresso) !important;
  color: white;
}

.flatpickr-day.today {
  border-color: solid 1px var(--espresso) !important;
}

.flatpickr-time {
  background-color: beige !important;
  border-top: 3px solid var(--espresso) !important;
  font-family: "Pixelify Sans", sans-serif;
}

.flatpickr-time-separator {
  color: var(--espresso);
}

.flatpickr-time .numInputWrapper input:hover {
  background-color: var(--beige) !important;
}

.flatpickr-time .numInputWrapper input {
  background-color: beige !important;
  color: var(--espresso);
  background-color: beige;
  font-family: "Pixelify Sans", sans-serif;
}

.flatpickr-am-pm {
  background-color: beige !important;
  color: var(--espresso);
  font-family: "Pixelify Sans", sans-serif;
}

.flatpickr-time .flatpickr-am-pm:hover {
  background-color: beige !important;
  color: var(--espresso);
  font-family: "Pixelify Sans", sans-serif;
}